*,

html{
    margin: 0;
    padding: 0;
}

.container{
  

}


.container-navbar{
    background-color: rgb(65, 60, 64);
    width: 100%;
    height: 10vh;
}
.ul-navbar{
    display: flex;
    height : 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.li-navbar{

    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(230, 8, 8);
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content{
    background-color: rgb(208, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 30;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.6);
    width : 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.img-content {
    width: 70%;
    height: 55%;
}

.container-footer{
height: 10vh;
background-color: rgb(82, 78, 79);
display: flex;
justify-content: center;
align-items: center;
}

.h1-footer{
font-size: 40px;
}

#app{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(184, 183, 183), rgb(255, 255, 252));
 
}

.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 3px solid rgb(11, 11, 10);
    width: 400px;
    height: 300px;
    text-align: center;
    
}

.games{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   
}
.option{
    width: 30%;
    margin:10px 15px;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    background-color: bisque;
     border: 3px solid rgb(11, 11, 10);

}

.option:hover{
    cursor:pointer;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1)ease-in-out;
    transform: scale(105%);
}